.project {
    width: 350px;
    height: 350px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
}

.imgContainer{
    width: 100%;
    height: 70%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2017Q2/project-planning-header@2x.png");
    background-size: cover;
    background-position: center;
}
.img{
    width: 250px;
}
.link{
    width: 100px;
    height: 40px;
    background-color: gray;
    text-align: center;
}
.info{
    height: 30%;
}