.ProjectsBlock {
min-height: 70vh;
}

.ProjectsContainer {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.title {
    color: #ffffff;
}

.title h2 {
    font-weight: 600;
    color: #ffffff;
    font-size: 46px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 0px;
    margin: 0 0 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    position: relative;
}

.title h2 span {
    color: #F68338
}

.title h2 ::before {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 0;
    margin: auto;
    border: 2px solid #ffffff;
    background: #F68338;
}

.title h2 ::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -30px;
    top: 50px;
    border: 1px solid #ffffff;
    border-top: none;
    opacity: 0.2;
    right: -20px;
    border-radius: 0 0 30px 30px;
}

.Projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
}



@media screen and (max-width: 1056px) {
    .Projects {
        justify-content: center;
    }
}