
.ProjectsBlock {
  min-height: 100vh;

  .ProjectsContainer {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .Projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 30px;
      @media screen and (max-width: 1056px) {
        justify-content: center;
      }
    }
  }
}







